Shared/*.txt
Shared/fantasy_art/*.xcf
Shared/fantasy_art/*.DS_Store
Shared/fantasy_art/Sliced
Shared/fantasy_art/icons_svg
Shared/fantasy_art/src
Shared/fantasy_art/TMX_Source
Shared/fantasy_art/*.txt


